<div class="container header">
      <h5>QUẢN LÝ CHO HỌC SINH MƯỢN SÁCH</h5>
    </div>
    <div>
      <table class="table bg-primary text-white">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã HS</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Lớp</th>
            <th scope="col">Mã sách</th>
            <th scope="col">Tên sách</th>
            <th scope="col">Tên tác giả</th>
            <th scope="col">Tủ sách</th>
            <th scope="col">Số BM</th>
            <th scope="col">Ngày mượn</th>
            <th scope="col">Ngày trả</th>
            <th scope="col">Số ngày</th>
            <th scope="col">Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>3b046</td>
            <td>Phạm Mỹ Duyên</td>
            <td>3B</td>
            <td>TN0173</td>
            <td>An toàn khi ra đường</td>
            <td>Vũ Bội Tuyền dịch</td>
            <td>Thiếu Nhi</td>
            <td>1432</td>
            <td>18/10/2022</td>
            <td>21/10/2022</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>4A185</td>
            <td>Tạ Thanh Tài</td>
            <td>4A</td>
            <td>TN0166</td>
            <td>Bình Tây Đại nguyên sói</td>
            <td>Hoài An, Nguyễn Đôn</td>
            <td>Thiếu Nhi</td>
            <td>1442</td>
            <td>28/09/2022</td>
            <td>26/09/2022</td>
            <td>8</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>4A185</td>
            <td>Từ Gia Tấn</td>
            <td>4A</td>
            <td>TN0146</td>
            <td>Nổi kinh hoàng ở Amazon</td>
            <td>Phil Gates</td>
            <td>Thiếu Nhi</td>
            <td>1442</td>
            <td>18/10/2022</td>
            <td>21/10/2022</td>
            <td>4</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>